[project]
name = "data-financial"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "duckdb>=1.4.2",
    "polars[pyarrow]>=1.35.2",
    "pyspark>=4.0.1",
]
